container_commands:
  00_migrate:
    command: "source /var/app/venv/*/bin/activate; python -m django migrate --settings settings"
    leader_only: true

  01_collect_static_files:
    command: "source /var/app/venv/*/bin/activate; python -m django collectstatic --clear --no-input --settings settings"


option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: settings

  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi
    NumProcesses: 1
    NumThreads: 15

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: .staticfiles


packages:
  yum:
    gcc-c++: []
    git: []
    mariadb-devel: []
